.containerClients {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: var(--radius-items);
  box-shadow: var(--box-shadow);
  overflow: hidden;
} 