.statusSelect {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  line-height: 1.2;
  font-weight: 500;
  color: var(--color-general-text);
  text-transform: uppercase;
  background-color: var(--color-general-background);
  padding: 0.5rem 0.5rem;
  border-radius: var(--radius-items);
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;

  &::before {
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    margin-right: 0.3rem;
  }

  &[data-state="activo"]::before {
    background-color: var(--color-status-activo);
  }

  &[data-state="backlog"]::before {
    background-color: var(--color-status-backlog);
  }
  &[data-state="en_revision"]::before {
    background-color: var(--color-status-en-revision);
  }
  &[data-state="cancelado"]::before {
    background-color: var(--color-status-cancelado);
  }
  &[data-state="finalizado"]::before {
    background-color: var(--color-status-finalizado);
  }
}

.dropdown {
  position: relative;
  display: inline-block;

  &:hover .dropdownContent {
    display: block;
    animation: fadeIn 0.3s ease-in-out;
  }
}

.dropdownContent {
  display: none;
  position: absolute;
  top:0;
  left: 74px;
  background-color: var(--color-general-background);
  min-width: 8rem;
  border-radius: var(--radius-items);
  box-shadow: var(--box-shadow);
  z-index: 1;

  .statusSelectOption {
    font-family: var(--font-primary);
    font-size: 0.875rem;
    line-height: 1;
    color: var(--color-general-text);
    padding: 6px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    background: none;
    border: none;
    text-align: left;

    &:hover {
      background-color: var(--color-general-disabled);
    }
    &::before {
      content: "";
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      margin-right: 0.5rem;
    }

    &[data-state="activo"]::before {
      background-color: var(--color-status-activo);
    }
    &[data-state="backlog"]::before {
      background-color: var(--color-status-backlog);
    }
    &[data-state="en_revision"]::before {
      background-color: var(--color-status-en-revision);
    }
    &[data-state="cancelado"]::before {
      background-color: var(--color-status-cancelado);
    }
    &[data-state="finalizado"]::before {
      background-color: var(--color-status-finalizado);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
