.container {
  h2 {
    font-family: var(--font-family-ui);
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: var(--font-weight-semibold);
    color: var(--text-primary);
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    position: relative;
  }

  ul {
    margin-left: 0.4em;
    list-style-type: disc;
  }

  li {
    margin-top: 1rem;
  }

  li > p {
    font-size: 1rem;
    line-height: 1.5;
  }

  span {
    font-size: 1rem;
    font-weight: bold;
  }

  .noActivity {
    font-style: italic;
    color: var(--text-secondary);
    padding: 0.5rem 0 0.5rem 0;
  }

  .previousValue {
    background-color: var(--bg-tint-neutral);
    padding: 0.2rem;
    border-radius: var(--radius-action);
  }

  .newValue {
    background-color: var(--state-in-progress-tint);
    padding: 0.2rem;
    border-radius: var(--radius-action);
  }

  .activityTitle {
    position: relative;
    padding-left: 1.3rem;

    &::before {
      content: '•';
      position: absolute;
      left: 0;
      top: 0.2rem;
      font-size: 2rem;
      color: var(--text-link);
      line-height: 1.6rem;
    }
  }
}


ul.connectedList {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;

  li {
    position: relative;
    padding-left: 1.2rem;

    .listContainer {
      font-size: 1rem;
      line-height: 1.5;
    }

    &::before {
      content: '•';
      position: absolute;
      left: 0;
      top: 0;
      font-size: 1.5rem;
      color: var(--text-secondary);
      line-height: 1.6rem;
    }

    &::after {
      content: '';
      position: absolute;
      left: 5px;
      top: 0.9rem;
      width: 1px;
      height: calc(140% - 0rem);
      background-color: var(--border-default);
    }

    &:last-child::after {
      display: none;
    }
  }
}

.commentDate {
  color: var(--text-secondary);
}

ul.connectedComments {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;

  li {
    position: relative;
    padding-left: 1.2rem;

    .listContainer {
      font-size: 1rem;
      line-height: 1.5;
    }

    &::before {
      content: '•';
      position: absolute;
      left: 0;
      top: 0.6rem;
      font-size: 1.5rem;
      color: var(--text-link);
      line-height: 1.6rem;
    }

    &::after {
      content: '';
      position: absolute;
      left: 5px;
      top: 1.1rem;
      bottom: -0.75rem;
      width: 1px;
      background-color: var(--border-default);
    }

    &:last-child::after {
      display: none;
    }
  }
}
