.labelContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.5rem;
  max-width: 13rem;
}

.responsibleLabel {
  display: flex;
  align-items: center;
  font-family: var(--font-family-ui);
  color: var(--text-secondary);
  font-size: 0.75rem;
  line-height: 1.2;
  font-weight: var(--font-weight-medium);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}
