@use '@/styles/mixins' as *;

.navItem{
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  position: relative;
  align-items: center;
  border-radius: var(--radius-items);
  @include focus-ring;

  &:not(.disabled):hover .iconContainer, &:hover .iconContainerExternal{
    transform: scale(1.2);
  }

  .labelIconContainer{
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 100%;

    img{
      margin-left: auto;
    }
  }
  .iconContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding: 0.4rem;
    transition: background 250ms cubic-bezier(0.65,0.05,0.36,1), transform 250ms ease-out;

    img {
      filter: brightness(0) invert(1) brightness(0.475);
    }
  }

  span{
    font-family: var(--font-primary);
    font-size: 1rem;
    line-height: 1.2;
    color: var(--color-general-text);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.active {
    opacity: 0;
    animation: fadeIn 500ms forwards cubic-bezier(0.65,0.05,0.36,1);
    background-color: var(--color-background);
    box-shadow: var(--box-shadow);
    span{
      color: var(--color-text-dark);
      font-weight: bold;
    }
    img {
      filter: grayscale(0%);
    }

  }

  &.disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &.external {
    .iconContainer{
      background-color: var(--color-background);

      img {
        filter: none;
      }
    }

  }

  span, img {
    z-index: 20;
  }

}

@keyframes fadeIn{
  to{
    opacity: 1;
  }
}
