.containerProjects {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 5rem 0 2rem;

  & > h1 {
    font-size: 1.8rem;
  }
}


@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
