.title {
  font-family: var(--text-view-title-family);
  font-size: var(--text-view-title-size);
  font-weight: var(--text-view-title-weight);
  color: var(--text-primary);
}

.message {
  color: var(--text-secondary);
}
