@use '@/styles/mixins' as *;

.container {
  @include flex-column;
  gap: var(--space-4);
}

.section {
  @include flex-column;
  gap: var(--space-2);
}

.footer {
  @include flex-between;
  margin-top: var(--space-2);
}

.total {
  font-size: var(--text-body-default-size);
  font-weight: var(--font-weight-semibold);
  color: var(--text-primary);
}
