.filterSection {
  display: flex;
  align-items: flex-start;
  gap: var(--space-grid-gap);
  flex-wrap: wrap;

  & > div {
    flex: 1 1 160px;
  }

  & > div.searchSelect {
    flex: 2 1 220px;
  }

  & > div.stateSelect {
    flex: 1.5 1 200px;
  }
}
