@use '@/styles/mixins' as *;

.tableContainer {
  @include table-container;
  padding-bottom:4rem;
  width: 100%;

  .priority {
    text-align: center;
  }

  .smallTd {
    width: 2rem;
    overflow: visible;
    text-align: center;
  }

  .closeToDeadline {
    color: var(--color-button);
  }
}

.noObjectives{
  margin-top: 3rem;
  font-family: var(--font-primary);
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 400;
  color: var(--color-general-text);
  transform: translateY(-25px);
  animation: fadeIn 250ms ease-out forwards;
  text-align: center;
  width: 100%;
}
