.titleLink {
  color: var(--text-link);
  font-weight: 600;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.finished {
  color: var(--text-secondary);
}

.closeToDeadline {
  color: var(--state-review-text);
}
