.container {
  background-color: var(--color-general-background);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;

  p {
    font-family: var(--font-primary);
    font-size: 0.75rem;
    line-height: 1.2;
    font-weight: 500;
    color: var(--color-general-text);
    text-transform: capitalize;
  }
}
