.containerNavSubItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navSubItem{
  display: flex;
  gap: 1.5rem;
  padding: 0.3rem 0.5rem 0.3rem 2.2rem;
  position: relative;
  align-items: center;
  border-radius: var(--radius-items);
  width: 100%;

  &:not(.disabled):hover .iconContainer, &:hover .iconContainerExternal{
    transform: scale(1.2);
  }

  .labelIconContainer{
    border-radius: 50%;
  }
  .iconContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding: 0.7rem;
    transition: background 250ms cubic-bezier(0.65,0.05,0.36,1), transform 250ms ease-out;
    img {
      filter: brightness(0) invert(1) brightness(0.475);
    }
  }

  span{
    font-family: var(--font-primary);
    font-size: 1.1rem;
    line-height: 1.2;
    font-weight: normal;
    color: var(--color-general-text);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.active {
    opacity: 0;
    animation: fadeIn 500ms forwards cubic-bezier(0.65,0.05,0.36,1);
    background-color: var(--color-surface-light);
    box-shadow: var(--box-shadow);
    span{
      color: var(--color-text-dark);
      font-weight: bold;
    }
    img {
      filter: grayscale(0%);
    }
  }

  &.external {
    .iconContainer{

      img {
        filter: none;
      }
    }

  }

  span, img {
    z-index: 20;
  }

  .externalLinkIcon {
    position: absolute;
    right: 6rem;
  }

}

@keyframes fadeIn{
  to{
    opacity: 1;
  }
}
