.formContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  column-gap: 2rem;

  .column {
    width: 50%;
  }

  .textareaCont {
    width: 50%;
  }
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  gap: 1rem;
}

.invalidFormContainer {
  color: var(--state-urgent-text);
  display: flex;
  gap: 0.5rem;
  padding-block: 1rem;
  align-items: center;
}

.generalError {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  width: 100%;

  p {
    text-align: right;
    color: var(--state-urgent-text);
    font-size: 1rem;
  }
}
